#wordCloud {
    height: 100%;
}

#wordCloud .win-item {
    box-sizing: border-box;
    background-color: #6294ad;    
    width: 200px;
    height: 75px;
    padding: 4px 8px;
    box-sizing: border-box;
    text-align: center;
}
#wordCloud .win-item h3 {
    line-height: 70px;
    color: white;
}

#alphabet {
    padding: 10px;
    background-color: #62aaad;
    color: whitesmoke;
    font-size: 16px;
}

#alphabet .letters span {
    margin-left: 15px;
}

@media screen and (-ms-view-state: snapped, fullscreen-portrait) {
    #alphabet .title {
        display: none;
    }
    #alphabet .letters span {
        margin-left: 5px;
    }
}
